
/* Overall Document Settings */

* {margin:0;padding:0;}  

body {
	width:100%;
	background-image:url("AdobeStock_72346075.jpeg");
	background-repeat: cover;
	font-family: Futura, sans-serif;
}

ul, ol 
     {
			 list-style:none;
}

.page-wrapper {
	width:900px;
}

.sidebar {
	padding:190px 0 0 0;
	margin:0 0 0 1000px;
	font-size:15px;
}

/* Intro */

.intro, .supporting {
	float:left;
	width:1000px;
}
header{
	width: 500px;
	height: 150px;
}

header h1 {
	font-family: Century Gothic, sans-serif;
	font-size: 300%;
	color: white;
	padding-top: 50px;
	padding-left: 20px;	
}

header h2 {
	font-family: Century Gothic, sans-serif;
	font-size: 80%;
	color: #2491B5;
	padding-top: 5px;
	padding-left: 250px;
}

.summary p {
	font-size:15px;
	width: 540px;
	padding-top: 10px;
	padding-left: 500px;
}

.summary p:last-child {
	font-style: bold;
	color: #2491B5;
	padding-top: 30px;
	padding-left: 500px;
	padding-bottom: 10px;
}

.summary p:last-child a:link, .summary p:last-child a:visited, .summary p:last-child a:active {
	color:#383C3D;
}
.summary p:last-child a:hover {
	color:#F7F7F7;
}

.preamble {
	background-color: #607F8A;
	transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
	width 800px;
	height: 150px;
}

.preamble:hover {
	background: #89BFC9;
}

.preamble h3 {
	font-size: medium;
	color: #2E3233;
	padding-top: 10px;
	padding-left: 20px;
}

.preamble p {
	color:#CFD9DC;
	font-size:13px;
	padding-left:20px;
	padding-top: 10px;
	padding-top: 10px;
}

/* Main Body */

.mainsupporting div{
	width: 800px;
}

.supporting .explanation {
	background-image: url("AdobeStock_72029772.jpeg");
	background-size: cover;	
	transition-property: background-image;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.supporting .explanation:hover {
	background: #CED169;
}

.supporting .explanation h3 {
	color: #2E3233;
	font-size: medium;
	padding-top:10px;
	padding-left: 20px;
}

.supporting .explanation p {
	color: #2491B5;
	font-size:13px;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom:20px;	
}

.supporting .participation {
	background-color: #607F8A;
	transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.supporting .participation:hover {
	background: #89BFC9;
}

.supporting .participation h3 {
	color: #2E3233;
  font-size: medium;
	padding-top:10px;
	padding-left: 20px;
}

.supporting .participation p {
	color: #CFD9DC;
	font-size:13px;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom:20px;	
}

.supporting .benefits {
	background-color: #607F8A;
	transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.supporting .benefits:hover {
	background: #89BFC9;
}

.supporting .benefits h3 {
	color: #2E3233;
	font-size: medium;
	padding-top:10px;
	padding-left: 20px;
}

.supporting .benefits p {
	color: #CFD9DC;
	font-size:13px;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom:20px;	
}

.supporting .requirements {
	background-image: url("AdobeStock_72331211.jpeg"); 
	background-size: cover;
	background-position:center right;
	transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.supporting .requirements:hover {
	background: #CED169;
}

.supporting .requirements h3 {
  color: #2E3233;
	font-size: medium;
	padding-top:10px;
	padding-left: 20px;
}

.supporting .requirements p {
	color: #2491B5;
	font-size:13px;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom:10px;	
}

}
.supporting p a {padding: 9px;
	text-decoration:none;
}

.supporting p a:link {
	color:#0A0A0A;
}

.supporting p a:visited {
	color:#4D3A33;
}

.supporting p a:active {
	color:#0A0A0A;
}
.supporting p a:hover {
	color:white;
}

.supporting footer {
	
	padding:20px 0;
	background:#D5E0E3;
	text-align:center;
	font-size:15px;
	transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.supporting footer:hover {
	background: black;
}
.supporting footer a {
	margin:5px 15px;
	padding:5px;
}
.supporting footer a:link, .supporting footer a:visited, .supporting footer a:active {color: white;text-decoration:none;}
.supporting footer a:hover {background:#777;color:#bbb;}


/* Sidebar */

.sidebar .wrapper {
	width:320px;
	padding-top:80px;
	padding-right:180px;
	padding-left: 15px;
}
.sidebar .wrapper h3 {
	width:180px;
	height:22px;
	font-size: medium;
	padding-top:10px;
}

.sidebar .wrapper ul {
	margin:10px 0 20px 0;
	color:black;
}

.sidebar .wrapper ul li {
	margin:10px 0 0 0;
	padding: 1px 0 0 12px;
}

.design-selection ul li a:link, .design-selection ul li a:visited, .design-selection ul li a:active {
	color:#2E3233;
	font-weight:bold;
	text-decoration:none;
}
.design-selection ul li a:hover {
	color:white;
}

.design-selection ul li a.designer-name:link, .design-selection ul li a.designer-name:visited, .design-selection ul li a.designer-name:active, .design-archives ul li a:link, .design-archives ul li a:visited, .design-archives ul li a:active, .zen-resources ul li a:link, .zen-resources ul li a:visited, .zen-resources ul li a:active {
	color:#2491B5;
	font-weight:normal;
}

.design-selection ul li a.designer-name:hover, .design-archives ul li a:hover, .zen-resources ul li a:hover {
	color:white;
}
 








